[Desktop Entry]
Type=Application
Name=Evisum
GenericName=System Monitor
GenericName[fr]=Moniteur d'activité système
GenericName[it]=Attività del sistema
GenericName[ru]=Системная активность
Exec=evisum
Icon=evisum
Categories=System;Monitor;
StartupWMClass=evisum
