[Desktop Entry]
Type=Application
Name=Evisum
GenericName=System Activity
GenericName[ru]=Системная активность
Exec=evisum
Icon=evisum
Categories=System;Monitor;
StartupWMClass=evisum
